@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "playfair display";
}
body{
    justify-content: center;
    align-items: center;
    background: rgb(6, 6, 6);
    display: flex;
}
.inputt{
padding: 10px;
background: beige;
border: none;
outline: none;
}
.flxbxsx{
    display: block;
    height: 100vh;
    width: 30%;
    background: rgb(0, 0, 0);
}

.flxbxbg{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 70%;
    background: rgba(8, 8, 8,.5);

}
.flxbxsx h1{
    font-size: 8rem;
    width:100%;
    color: rgb(208, 255, 0);
    line-height: 110px;
}
.inputt{
    margin: 50px;
    margin-left: 20px;
    border-radius: 10px;
}
.buttonn{
    margin: 50px;
    margin-left: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: rgb(208, 255, 0);
    padding: 10px;
}
.buttonn:hover{
    background: rgb(104, 103, 103);
    
}
.buttonn:active{
    background: rgb(166, 167, 164);
}

